margin: 0px;
padding: 0px;
}

	body{
	font-family: Ms Trebuchet;
	}
	a{ text-decoration: none; color: #000; }
	a:hover{ }
	
	#all{
	width: 660px;
	height: 75px;
	line-height: 80px; /* centraliza na vertical */
	background-color: #f1f1f1;
	border: 1px dashed #ccc;
	margin: 0 auto;
	}
	ul.menu{
	text-align: center; /* centraliza na horizontal */
	}
	ul.menu li{
	display: inline-block; /* centraliza na horizontal */
	margin: 0 5px;
	}
	ul.menu li a{
	background-color: #3d7bb3;
	border-radius: 6px; /*bordas arredondadas*/
	padding: 6px 10px;
	color: #fff;
	}
	ul.menu li a:hover{
	background-color: #8BBADC;
	}
	h2{ font-family: 'Arial';
	text-align: left;
	color: #000000;
	padding-bottom: 10px;
	}
	h1{ font-family: 'Comic Sans MS';
	text-align: center;
	color: #000000;
	padding-bottom: 10px;
	}