/*Arquivo estilo.css ---- menu1 centralizado */
	*{
	margin: 0px;
	padding: 0px;
	}

	body{ background-color:#000000;
	}
	font-family: Ms Trebuchet;
	}
	a{ text-decoration: none; color: #000; }
	a:hover{ }
	
	#all{
	width: 580px;
	height: 80px;
	line-height: 80px; /* centraliza na vertical */
	background-color: #f1f1f1;
	border: 1px dashed #ccc;
	margin: 0 auto;
	}
	ul.menu{
	text-align: center; /* centraliza na horizontal */
	}
	ul.menu li{
	display: inline-block; /* centraliza na horizontal */
	margin: 0 5px;
	}
	ul.menu li a{
	background-color: #3D7BB3;
	border-radius: 6px; /*bordas arredondadas*/
	padding: 6px 10px;
	color: #fff;
	}
	ul.menu li a:hover{
	background-color: #8BBADC;
	
	
	font-family: Ms Trebuchet;
	}
	a{ text-decoration: none; color: #000; }
	a:hover{ }
	
	h1{font-family: Ms Trebuchet;
	font-size: 30px;
	color: #B0E0E6;
	text-align: center;
	}

	h2{font-family: Arial;
	font-size: 20px;
	color: #f1f1f1;
	text-align: center;
	}
	
	form{ margin: 40px;
	padding:10px;
	}

	label{font-family: Ms Trebuchet;
	font-size:18px;
	color: #FFFFFF;
	text-align: left;
	line-height : 10px;
	}

	#text1 {font-family: Ms Trebuchet; /* uso de id */
	font-size:15px;
	color: #000000;
	text-align: left;
	line-height : 10px;
	}

	#text2 {font-family: Ms Trebuchet;
	font-size:15px;
	background-color:#FFFFFF;
	color: #000000;
	text-align: left;
	line-height : 10px;
	}

	#text3 {font-family: Ms Trebuchet;
	font-size:15px;
	color: #000000;
	text-align: left;
	line-height : 10px;
	}

	#textarea {resize: none; /* não permite redimensionar*/
	}
	
	h5{font-family: Ms Trebuchet;
	font-size: 10px;
	text-align: center;
	color:#FFFFFF;
	text-decoration: none; /* coloca uma decoração na font h5*/
	font-weight: bold; /* peso da font, aqui em negrito*/
	}
	